.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ddd;
  width: 500px;
}

.footer span {
  margin-right: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer ul li {
  margin-right: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #666;
  padding: 5px;
  border-radius: 3px;
}

.footer ul li a.active {
  border: solid 1px cadetblue;
}

.footer button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}